/* Default Page Style */
body {
    margin: 0;
    background-color: bisque;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}




/* Sign In Style */

.sign-in-header-container {
    background-color: rgb(249, 230, 206);
    margin: 5px;
}

.middle-notification {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.sign-in-header-container .bottom {
    display: flex;
}

.left-space {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.right-options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 10px;
    width: 250px;
}

/* Site Header Style */

.site-header-container {
    display: flex;
    justify-content: space-around;
    height: max-content;
    margin: 5px;

}

.site-header-container .left {
    display: flex;
    justify-content: center;
    width: 250px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100px;
}

.site-header-container .categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.categories-container {
    display: flex;
    justify-content: space-between;
}

.category {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.category a {
    color: black;
}

.site-header-container .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

/* Sales style */

.sales-container {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

/* Photo Spotlight Style */

.photo-spotlight-container {
    display: flex;    
    justify-content: center;
    height: max-content;
    padding-bottom: 5px;
    background-color: darkgray;
}

.photo-spotlight-container .left {
    display: flex;
    border-style: solid;
    border-color: black;
    align-items: center;
    height: 500px;
}

.photo-spotlight-container .right {
    display: flex;
    border-style: solid;
    border-color: black;
    align-items: center;
    height: 500px;
}

.photo-spotlight-container .left img {
    height: 500px;
    width: auto;
}

.photo-spotlight-container .middle img {
    height: 500px;
    width: auto;
}

.photo-spotlight-container .right img {
    height: 500px;
    width: auto;
}

/* Features Styles Style */

.styles-container {
    height: max-content;
}

.styles-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
}

.style-top {
    display: flex;
    justify-content: space-around;
}

.style-bottom {
    display: flex;
    justify-content: space-around;
}

.styles {
    display: flex;
    align-items: center;
    background-color: #747474;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 300px;
    padding: 5px;
    margin: 5px;
}

.featured-header {
    padding-left: 10px;
}

.styles button {
    border-radius: 4px;
    height: 75px;
    width: 150px;
    background-color: rgb(163, 145, 121);
}


/* Footer Info Styles */

.footer-info-container {
    display: flex;
    margin-top: 15px;
    background-color: #595757;
}

.socials-container {
    width: 600px;
    height: 150px;
}

.small-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 175px;
}

.small-logo img {
    height: 50px;
    width: auto;
}

.socials-container .bottom {
    display: flex;
    justify-content: center;
}

.socials-container .bottom div {
    padding: 5px;
}

.menu-map-container {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
}

.menu-map-container div {
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
}

.menu-header {
    font-size: 18px;
}

/* Footer Style */

.footer-container .top {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.footer-container .bottom {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.footer-container .bottom div {
    padding-left: 5px;
    padding-right: 5px;
}

.bottom .left {
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
}

.bottom .middle-left {
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
}

.bottom .middle-right {
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
}

/* Marketplace Style */

.marketplace-container {
    display: flex;
    justify-content: space-around;
}

.marketplace-header {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.left-panel .image-container {
    height: 500px;
    width: 500px;
}

.image-container img {
    height: 500px;
    width: 700px;
}

.description-header {
    margin-top: 300px;
    font-size: 20px;
    font-weight: bold;
}

.item-description {
    font-size: 18px;

}

/* Product Pages Style */

.single-product-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview img {
    height: 100px;
    width: auto;
}

.details-container {
    padding-left: 25px;
    width: 700px;
    height: 125px;
}

.description-header-details {
    font-size: 20px;
    font-weight: bold;
}


/* Directory Style */

.page-header {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    background-color: rgb(248, 198, 137);
}

.master-container {
    margin-top: 10px;
}

.master-container .top {
    display: flex;
    justify-content: space-around;
}

.master-container .bottom {
    display: flex;
    justify-content: space-around;
}

.directory-list {
    width: 225px;
    margin-top: 25px;
}

.directory-header {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.directory-body div {
    display: flex;
    justify-content: center;
}